@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Robolt x Hand Light';
  src: url('https://db.onlinewebfonts.com/t/508eeb3849362bb16844cc1d5ac1f88a.eot');
  src: url('https://db.onlinewebfonts.com/t/508eeb3849362bb16844cc1d5ac1f88a.eot?#iefix')
      format('embedded-opentype'),
    url('https://db.onlinewebfonts.com/t/508eeb3849362bb16844cc1d5ac1f88a.woff2')
      format('woff2'),
    url('https://db.onlinewebfonts.com/t/508eeb3849362bb16844cc1d5ac1f88a.woff')
      format('woff'),
    url('https://db.onlinewebfonts.com/t/508eeb3849362bb16844cc1d5ac1f88a.ttf')
      format('truetype'),
    url('https://db.onlinewebfonts.com/t/508eeb3849362bb16844cc1d5ac1f88a.svg#Robolt x Hand Light')
      format('svg');
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  @apply text-secondary bg-[#0E1428];
}

p {
  /* font-family: 'Robolt x Hand Light' !important; */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

input[type='checkbox'] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 0.25rem;
  position: relative;
  cursor: pointer;
}

input[type='checkbox']:checked {
  border: transparent;
}

input[type='checkbox']:checked::after {
  content: '✓';
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.85rem;
  line-height: 1rem;
}

button {
  @apply border border-primary p-2 rounded-md text-xs bg-transparent hover:bg-accent hover:text-white hover:border-transparent transition-colors duration-300;
}

button {
  padding: 0.8em 1.8em;
  /* color: #17c3b2; */
  /* border: 2px solid #17c3b2; */
  @apply border border-accent text-accent;
  position: relative;
  overflow: hidden;
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  transition: 0.3s;
  z-index: 1;
  font-family: inherit;
}

button::before {
  content: '';
  width: 0;
  height: 300%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  /* background: #17c3b2; */
  @apply bg-accent;
  transition: 0.5s ease;
  display: block;
  z-index: -1;
}

button:hover::before {
  width: 105%;
}

button:hover {
  /* color: #111; */
  color: white;
}
